<div class="hero band js-yellow padded">
  <textarea eip-textarea ng-model="intro.content" focusout="update()"></textarea>
  <!--<div class="container">
    <div class="row">
      <div class="one third padded align-center">
        <h1 data-compression="3.825" data-min="20" data-max="170" style="font-size: 99px; text-indent: 0px;" class="responsive zero">Say Hello</h1>
        <h3 data-compression="13.6" data-min="15" data-max="50" style="font-size: 27px; text-indent: 0px;" class="responsive">To responsive design made easy.</h3><a id="github-button" href="https://github.com/groundworkcss/groundwork" target="_blank" class="large blue-3 block button">Fork on Github <i class="icon-github-alt"></i></a>
        <div class="row">
          <div class="four small-tablet sevenths gap-top pad-right no-padding-mobile"><a href="https://github.com/groundworkcss/groundwork/archive/master.zip" title="Download from Github" class="block button">Download <i class="icon-download-alt"></i></a></div>
          <div class="three small-tablet sevenths gap-top"><a id="twitter-button" href="http://twitter.com/groundworkCSS/" target="_blank" class="block button">Follow <i class="icon-twitter"></i></a></div>
        </div>
        <div class="row">
          <div class="one whole gap-top"><a href="#subscribe" class="block button">Receive email updates <i class="icon-envelope-alt"></i></a>

          </div>
        </div>
      </div>
      <div class="two thirds padded align-center"><img src="./images/all-devices.png" alt="GroundworkCSS - A Responsive Design Framework"></div>
    </div>
  </div>-->
</div>


<div class="hero-unit">
  <h1>{{hello}}</h1>
</div>
<div class="hero-unit">
  <h1>{{hello}}</h1>
</div>
<div class="hero-unit">
  <h1>{{hello}}</h1>
</div>
<div class="hero-unit">
  <h1>{{hello}}</h1>
</div>
<div class="hero-unit">
  <h1>{{hello}}</h1>
</div>
<div class="hero-unit">
  <h1>{{hello}}</h1>
</div>


